/* Estilos para las cartas del juego */
body {
  background-color: rgb(49, 77, 204);
}
.contCard {
  cursor: pointer;
}
.contCard img {
  max-width: 100%; /* Establecer el tamaño máximo al ancho del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
}
/* Estilos personalizados para el cronómetro */
#choronometerId {
  margin-top: 10px; 
}

#choronometerId .col-2 {
  font-size: 25px;
}

/* Estilos para el selector de nivel */
#levelSelector {
  margin-right: 10px; 
}

.progress-bar {
  height: 50px; 
  background-color: #151794;
}





.navbar-brand img {
  width: 40px; /* Aumentar el ancho del logo a 40px */
  height: auto; /* Mantener la proporción */
}

/* Estilos para elementos del navbar */
.col- {
  max-width: 50px;
}
