@font-face {
  font-family: 'strange';
  src: url('../fonts/Strange.ttf');
}

.nav_text {
  font-family: 'strange';

}

/* Estilos para las cartas del juego */
body {
  background: rgb(55, 162, 189);
}
.contCard {
  cursor: pointer;
  margin: 5px;
}
.contCard img {
  width: 200px;
  height: 150px;
  align-items: center;
}

.card {
  width: 200px;
  height: 150px;
  margin: 5px;
}

.form-select {
  
  background: rgb(73, 99, 138);
  


}
/* Estilos personalizados para el cronómetro */
#choronometerId {
  font-family: 'strange';
  margin-top: 10px; 
}

#choronometerId .col-2 {
  font-size: 25px;
}

/* Estilos para el selector de nivel */
#levelSelector {
  font-family: 'strange';
  margin-right: 10px; 
}

.progress-bar {
  
  height: 50px; 
  background-color: #151794;
}
 .container1 {
  
  max-width: 60%;
  margin: 100px auto 0; 
 
  padding: 20px; 
  margin: 20px auto; 
  
 }

.nav {
  background: rgb(29, 161, 194);
  font-family: 'strange';
}

.navbar-brand img {
  width: 60px; 
  height: auto; 
}
.navbar{
  margin-top: 50px;
  background: rgb(55, 162, 189);
}
.btn {
  margin-left: 30px;
}

